//Контейнер
$content-width-figma: 1170px; //Ширина контейнера в фигме
$container-offset: 15px; //Отступы безопасности
$container-width: calc($content-width-figma + $container-offset * 2);

//Цвета (color-название цвета)
$color-primary: #000;
$color-secondary: #000;
$color-accent: #000;

// Шрифты
//Миксин для подключения через шрифтов
// @mixin font-face($font-family, $url, $weight, $style)

@include font-face(
  $font-family: Yanone,
  $url: YanoneKaffeesatz-Medium,
  $weight: 400,
  $style: normal
);

//Подключение через Google Fonts import
// @import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$font-family: "Yanone", sans-serif;
$font-size: 16;
$font-weight: 400;
$font-color: $color-primary;

//Размеры
$site-min-width: 320px;

//breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
